mixin checkbox({ className = false })
    label.checkbox(class=className)
        input.checkbox__field(type='checkbox' checked='')
        span.checkbox__custom
        span.checkbox__title
            | Вы соглашаетесь с условиями обработки 
            a.link.link_alpha.link_underline(href='javascript:;' data-custom-open='modal-policy') персональных данных
