.header {
    @media (max-width: $break_sm) {
        padding: {
            top: 14px;
            bottom: 14px;
        }
    }
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    padding: {
        top: 21px;
        bottom: 21px;
    }
    color: $light;
    background: {
        color: $dark;
        image: url(../img/intro/background.jpg);
        size: cover;
        position: top center;
        attachment: fixed;
    }

    &__container {
        @include container();
    }
    &__top-line {
        @media (max-width: $break_lg) {
            margin-bottom: 0;
        }
        margin-bottom: 23px;
    }
    &__nav {
    }
}
