.header {
    @media (max-width: $break_sm) {
        padding: {
            top: 14px;
            bottom: 14px;
        }
    }
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    padding: {
        top: 21px;
        bottom: 21px;
    }
    color: $light;
    background: {
        color: $dark;
        image: url(../img/intro/background.jpg);
        size: cover;
        position: top center;
        attachment: fixed;
    }
    .ios & {
        background-size: auto;
        background-attachment: local;
    }

    &__container {
        @include container();
    }
    &__top-line {
        @media (max-width: $break_lg) {
            margin-bottom: 0;
        }
        margin-bottom: 23px;
        transition: {
            duration: 0.3s;
            property: margin-bottom;
        }
    }
    &__nav {
        transition: {
            duration: 0.3s;
            property: font-size;
        }
    }
}
.page-wrapper_active {
    .header {
        &__top-line {
            @media (max-width: $break_lg) {
                margin-bottom: 0;
            }
            margin-bottom: 16px;
        }

        &__nav {
            font-size: rem(13);
        }
    }
}
