-
    const accordionList = [
        {
            title: "Сколько стоит сертификат?",
            description: [
                "Стоимость сертификации рассчитывается в каждом случае индивидуально исходя из продукции, выбранных нормативных документов, количества показателей для испытаний, удаленности местонахождения заявителя и выбранной схемы сертификации",
            ],
        },
        {
            title: "Как долго делается технический анализ угля (зола, влага, выход летучих веществ?",
            description: [
                "1 день",
            ],
        },
        {
            title: "Какие показатели входят в спекаемость угля?",
            description: [
                "Пластометрические показатели (х,у), индекс Рога, индекс свободного вспучивания ",
            ],
        },
        {
            title: "Производите ли Вы отбор проб?",
            description: [
                "Производите ли Вы отбор проб?",
            ],
        },
        {
            title: "На какой срок действия выдается сертификат соответствия?",
            description: [
                "Срок выдачи зависит от выбранной схемы сертификации",
            ],
        },
    ];