-
    const accordionList = [
        {
            title: "Насколько быстро возможно провести испытание бурого угля и получить протокол испытаний?",
            description: [
                "Испытание проводится от 1 до 3 рабочий дней. Протокол отправляется клиенту в день окончания испытания.",
                [
                    "Испытание проводится от 1 до 3 рабочий дней. Протокол отправляется клиенту в день окончания испытания.",
                    "Испытание проводится от 1 до 3 рабочий дней. Протокол отправляется клиенту в день окончания испытания.",
                    "Испытание проводится от 1 до 3 рабочий дней. Протокол отправляется клиенту в день окончания испытания.",
                ]
            ],
        },
        {
            title: "Насколько быстро возможно провести испытание бурого угля и получить протокол испытаний?",
            description: [
                "Испытание проводится от 1 до 3 рабочий дней. Протокол отправляется клиенту в день окончания испытания.",
                [
                    "Испытание проводится от 1 до 3 рабочий дней. Протокол отправляется клиенту в день окончания испытания.",
                    "Испытание проводится от 1 до 3 рабочий дней. Протокол отправляется клиенту в день окончания испытания.",
                    "Испытание проводится от 1 до 3 рабочий дней. Протокол отправляется клиенту в день окончания испытания.",
                ]
            ],
        },
        {
            title: "Насколько быстро возможно провести испытание бурого угля и получить протокол испытаний?",
            description: [
                "Испытание проводится от 1 до 3 рабочий дней. Протокол отправляется клиенту в день окончания испытания.",
                [
                    "Испытание проводится от 1 до 3 рабочий дней. Протокол отправляется клиенту в день окончания испытания.",
                    "Испытание проводится от 1 до 3 рабочий дней. Протокол отправляется клиенту в день окончания испытания.",
                    "Испытание проводится от 1 до 3 рабочий дней. Протокол отправляется клиенту в день окончания испытания.",
                ]
            ],
        },
        {
            title: "Насколько быстро возможно провести испытание бурого угля и получить протокол испытаний?",
            description: [
                "Испытание проводится от 1 до 3 рабочий дней. Протокол отправляется клиенту в день окончания испытания.",
                [
                    "Испытание проводится от 1 до 3 рабочий дней. Протокол отправляется клиенту в день окончания испытания.",
                    "Испытание проводится от 1 до 3 рабочий дней. Протокол отправляется клиенту в день окончания испытания.",
                    "Испытание проводится от 1 до 3 рабочий дней. Протокол отправляется клиенту в день окончания испытания.",
                ]
            ],
        },
    ];