.input {
    display: block;
    position: relative;

    &_lg {
        .input__icon {
            padding-left: 25px;
            @media (max-width: $break_sm) {
                padding-left: 20px;
            }
        }
        .input__field {
            min-height: 70px;
            padding-top: 26px;
            padding-bottom: 26px;
            padding-right: 27px;
            padding-left: 25px;
            @media (max-width: $break_sm) {
                min-height: 50px;
                padding-top: 16px;
                padding-bottom: 16px;
                padding-right: 15px;
                padding-left: 19px;
            }
        }

        &.input_icon .input__field {
            padding-left: 48px;
            @media (max-width: $break_sm) {
                padding-left: 39px;
            }
        }
    }

    &_md {
        .input__field {
            min-height: 50px;
            padding-top: 17px;
            padding-bottom: 17px;
            padding-right: 20px;
            padding-left: 20px;
            @media (max-width: $break_sm) {
                min-height: 40px;
                padding-right: 15px;
                padding-left: 19px;
            }
        }

        .input__icon {
            padding-left: 16px;
        }

        &.input_icon .input__field {
            padding-left: 38px;
        }
    }

    &_sm {
        .input__field {
            height: 50px;
            padding-top: 11px;
            padding-bottom: 11px;
            padding-right: 20px;
            padding-left: 20px;
            @media (max-width: $break_sm) {
                height: 40px;
                padding-right: 15px;
                padding-left: 15px;
            }
        }
        &.input_filled .input__field {
            padding-top: 20px;
            @media (max-width: $break_sm) {
            }
        }
    }

    &_alpha {
        .input__field {
            background-color: $alpha-lighter;

            &::placeholder, & {
                color: $dark;
            }
        }
    }

    &_gamma {
        color: $gamma-normal;

        .input__field {
            background-color: $gamma-darker;

            &:focus-within, &:focus-within ~ svg {
                color: $light;
            }
        }
        &.input_filled, &.input_filled svg {
            color: $light;
        }
    }

    &_textarea {
        .input__field {
            border-radius: 40px;
        }
    }

    &__field {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50px;
        outline: none;
        transition: {
            duration: 0.3s;
            property: box-shadow, color;
        }

        &::placeholder, & {
            font-size: rem(14);
            @media (max-width: $break_sm) {
                font-size: rem(12);
            }
        }
    }

    &__field:focus, &_filled &__field {
        & ~ .input__placeholder {
            transform: translateY(-30%);
            font-size: rem(11);
        }
    }

    &__error {
        position: absolute;
        margin-left: 19px;
        margin-top: 2px;
        color: #ff0000;
        font-size: rem(12);
        font-weight: 400;
    }

    &__icon {
        box-sizing: content-box;
        position: absolute;
        top: 50%;
        width: 16px;
        transform: translateY(-50%);
        padding-left: inherit;
        @media (max-width: $break_sm) {
            width: 14px;
        }
        transition: {
            duration: 0.3s;
            property: color;
        }
    }

    &_error {
        .input__field {
            box-shadow: 0 0 2px #ff0000;
        }
        &, .input__placeholder {
            color: #ff0000;
        }
    }
}
