mixin input({ className = false, typeName = "text", placeholder = false, iconName = false, viewBoxName, tag = "input" })
    label.input(class=[className, {'input_icon': !!iconName}])
        if (tag === "input")
            input.input__field(type=typeName placeholder=placeholder)
            +icon({
                iconName,
                viewBoxName,
                className: "input__icon"
            })
        else
            textarea.input__field(placeholder=placeholder)