-
    const steps = [
        {
            iconName: "steps_manager",
            title: "Вы связываетесь с нами",
            description: "звоните по телефону <a href=''>+7 (776) 523 19 19</a> или заполняте форму ниже",
        },
        {
            iconName: "steps_checklist",
            title: "Уточнение нюансов",
            description: "В процессе общения мы выясняем , каким способом мы решим вашу задачу",
        },
        {
            iconName: "steps_payment",
            title: "Договор и оплата",
            description: "Заключаем договор на проведение работы, оплата 100%",
        },
        {
            iconName: "steps_labaratory",
            title: "Выполнение работы",
            description: "Проводим испытания продукции, работы в области стандартизации и др. работы, исходя из ваших задач",
        },
        {
            iconName: "steps_certificate",
            title: "Вы получате результат",
            description: "Исходя из выбранной услуги вы получаете например нормативный документ, сертификат соответствия и т.п.",
        },
    ];