.steps {
    overflow: hidden;
    @media (max-width: $break_xl) {
        background: {
            size: auto calc(100% - 30px);
            position: 100% center;
        }
    }
    @media (max-width: $break_md) {
        background: {
            size: 335px 314px;
            position: calc(100% + 85px) calc(100% + 61px);
        }
    }
    @media (max-width: $break_sm) {
        text-align: center;
        padding: {
            top: 41px;
            bottom: 47px;
        }
    }

    &__container {
        @include container();
    }

    &__header {
        margin-bottom: 12px;
        @media (max-width: $break_sm) {
            margin-bottom: 25px;
        }
    }

    &__title {
        @include h1();
        margin-bottom: 8px;
    }

    &__description {
        @include h4();
        max-width: 522px;
        font-weight: 600;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        counter-reset: step;
        margin-left: -40px;
        margin-right: -40px;
        @media (max-width: $break_xl) {
            margin-left: $offset * -1;
            margin-right: $offset * -1;
        }
    }

    &__item {
        flex-basis: calc(20% - 80px);
        margin-left: 40px;
        margin-right: 40px;
        @media (max-width: $break_xl) {
            flex-basis: calc(33.33% - #{$offset} * 2);
            margin-left: $offset;
            margin-right: $offset;
            margin-top: 30px;

            &:nth-child(1), &:nth-child(2), &:nth-child(3) {
                margin-top: 0;
            }
        }
        @media (max-width: $break_md) {
            flex-basis: calc(50% - #{$offset} * 2);

            &, &:nth-child(3) {
                margin-top: 30px;
            }

            &:nth-child(1), &:nth-child(2) {
                margin-top: 0;
            }
        }
        @media (max-width: $break_sm) {
            flex-basis: 100%;

            &:nth-child(2) {
                margin-top: 30px;
            }
        }
    }

    &__counter {
        display: flex;
        align-items: flex-end;
        margin-bottom: 20px;
        line-height: 198%;
        @media (max-width: $break_sm) {
            justify-content: center;
            margin-bottom: 12px;
        }

        &:before {
            counter-increment: step;
            content: "0" counter(step);
            margin-right: 6px;
            font-size: rem(32);
            font-weight: 700;
            line-height: normal;
        }
    }

    &__icon {
        width: 50px;
        margin-left: 15px;
    }

    &__item-title {
        margin-bottom: 8px;
        font-weight: 600;
    }

    &__item-description {
        @include p-sm();
        line-height: 154%;
    }
    padding: {
        top: 41px;
        bottom: 25px;
    }
    background: {
        color: $alpha-light;
        image: url(../img/consultation/backgroung.svg);
        repeat: no-repeat;
        size: 668px 591px;
        position: calc(100% - 97px) -72px;
    }
}
