-
    const servicesList = [
        {
            iconName: "services_labaratory",
            title: "Проведение испытаний продукции", 
            description: "Испытательная лаборатория (ИЛ)",
            advantage: "В результате клиент получает протокол испытаний."
        },
        {
            iconName: "services_checklist",
            title: "Подтверждение соответствия продукции установленным требованиям", 
            description: "Орган по подтверждению соответствия (ОПС)",
            advantage: "В результате ОПС выдает сертификаты соответствия продукции."
        },
        {
            iconName: "services_certificate",
            title: "Работы в области стандартизации", 
            description: "Отдел стандартизации (ОС)",
            advantage: "В результате клиент получает нормативный документ "
        },
        {
            iconName: "services_microscope",
            title: "Проведение научно-исследовательских работ", 
            description: "Отдел науки (ОН)",
            advantage: "Результатом является отчет по научно-исследовательской работе"
        },
    ];