mixin card-img({ className = false, iconName, dotsPosition = [] })
    .card-img(class=className)
        -
            const classes = [];
        each dot, index in dotsPosition
            - if (index === 1) classes.push("dot_md")
            - if (index === 2) classes.push("dot_sm")
            span.dot.card-img__dot(class=classes style=dot)
        +icon({
            iconName,
            viewBoxName: '0 0 55 55',
            className: 'card-img__icon',
        })