.top-line {
    display: flex;
    @media (max-width: $break_lg) {
        align-items: center;
    }
    @media (max-width: $break_md) {
        flex-wrap: wrap;

        &:before {
            content: "";
            display: block;
            order: 1;
            width: 100%;
        }
    }

    &__logo-wrapper {
        display: flex;
        align-items: center;
        @media (max-width: $break_md) {
            margin-right: auto;
            margin-bottom: 6px;
        }
        @media (max-width: $break_xss) {
            margin-bottom: 0;
        }
    }

    &__logo {
        width: 42px;
    }

    &__description {
        display: flex;
        align-items: center;
        max-width: 245px;
        margin-left: 16px;
        font-weight: 600;
        font-size: rem(13);
        margin-right: auto;
        @media (max-width: $break_lg) {
            padding-right: 16px;
            font-size: rem(11);
        }
        @media (max-width: $break_md) {
            order: 2;
            margin-left: 0;
        }
        @media (max-width: $break_sm) {
            max-width: 190px;
            font-size: rem(9);
        }
        @media (max-width: $break_xss) {
            display: none;
        }
    }

    &__title {
        margin-bottom: 6px;
        @media (max-width: $break_lg) {
            display: none;
        }
    }

    &__socials {
        margin-right: 30px;
        @media (max-width: $break_lg) {
            margin-right: 16px;
        }
        @media (max-width: $break_md) {
            margin-right: 10px;
        }
        @media (max-width: $break_xss) {
            display: none;
        }
    }

    &__socials-list {
        display: flex;
        align-items: center;
    }

    &__socials-item {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__social {
    }

    &__call {
        margin-right: 30px;
        @media (max-width: $break_lg) {
            margin-right: 16px;
        }
        @media (max-width: $break_md) {
            margin-right: 10px;
        }
    }

    &__dropdown {
    }

    &__call-description {
        font-size: rem(11);
        line-height: 145%;
        @media (max-width: $break_lg) {
            display: none;
        }
    }

    &__btn {
    }

    &__btn-wrapper {
        display: flex;
        align-items: center;
        @media (max-width: $break_lg) {
            margin-right: 16px;
        }
        @media (max-width: $break_md) {
            order: 3;
            margin-right: 0;
        }
        @media (max-width: $break_xss) {
            display: none;
        }
    }

    &__hamburger {
        display: none;
        @media (max-width: $break_lg) {
            display: block;
        }
    }

    &__link {
        @media (max-width: $break_sm) {
            font-size: rem(13);
        }
    }
}
