mixin modal-about({ className = false })
    include ../../components/modal-template/modal-template
    include ./data

    +modal-template({
        modalName: 'modal-about',
        title: 'Более 20 лет ',
        description: 'мы осуществляем деятельность по исследованию, подтверждению соответствия угля, разработке стандартов на угли и продукты их переработки. ',
        slides: modalSlider
    })
        p.p-bold ТОО «НИЦ «Уголь» является одним из передовых предприятий, осуществляющих деятельность по исследованию, подтверждению соответствия угля, разработке стандартов на угли и продукты их переработки. 
        p.p-sm Выполняем заказы государственных органов и хозяйствующих субъектов в рамках Республики Казахстан, СНГ, ЕАЭС, ВТО. Разрабатывает правовые, нормативные, технические, научные документы, осуществляет сертификацию, классификацию, кодификацию, идентификацию углей и продуктов их переработки, проводит около 100 видов анализов и испытаний, услуг.
        p.p-bold ТОО «НИЦ «Уголь» является одним из передовых предприятий, осуществляющих деятельность по исследованию, подтверждению соответствия угля, разработке стандартов на угли и продукты их переработки. 
        p.p-sm Выполняем заказы государственных органов и хозяйствующих субъектов в рамках Республики Казахстан, СНГ, ЕАЭС, ВТО. Разрабатывает правовые, нормативные, технические, научные документы, осуществляет сертификацию, классификацию, кодификацию, идентификацию углей и продуктов их переработки, проводит около 100 видов анализов и испытаний, услуг.
        p.p-bold ТОО «НИЦ «Уголь» является одним из передовых предприятий, осуществляющих деятельность по исследованию, подтверждению соответствия угля, разработке стандартов на угли и продукты их переработки. 
        p.p-sm Выполняем заказы государственных органов и хозяйствующих субъектов в рамках Республики Казахстан, СНГ, ЕАЭС, ВТО. Разрабатывает правовые, нормативные, технические, научные документы, осуществляет сертификацию, классификацию, кодификацию, идентификацию углей и продуктов их переработки, проводит около 100 видов анализов и испытаний, услуг.
        p.p-bold ТОО «НИЦ «Уголь» является одним из передовых предприятий, осуществляющих деятельность по исследованию, подтверждению соответствия угля, разработке стандартов на угли и продукты их переработки. 
        p.p-sm Выполняем заказы государственных органов и хозяйствующих субъектов в рамках Республики Казахстан, СНГ, ЕАЭС, ВТО. Разрабатывает правовые, нормативные, технические, научные документы, осуществляет сертификацию, классификацию, кодификацию, идентификацию углей и продуктов их переработки, проводит около 100 видов анализов и испытаний, услуг.