-
    const aboutAdvantages = [
        {
            title: "2000",
            description: "год&nbsp;основания<br>компании",
        },
        {
            title: "100+",
            description: "видов анализов и испытаний",
        },
        {
            title: "10",
            description: "клиенты более чем из 10 городов Казахстана ",
        },
    ];
    const aboutStaff = [
        {
            title: "Макатова Елена Бахтлеуовна",
            status: "начальник испытательной лаборатории",
            imgName: "slider-2"
        },
        {
            title: "Селезнёва Оксана Олеговна",
            status: "начальник отдела науки",
            imgName: "slider-3"
        },
        {
            title: "Таджибаева Зарина Асилхановна",
            status: "инженер-метролог",
            imgName: "slider-4"
        },
        {
            title: "Калитина Татьяна Владимировна",
            status: "инженер-химик",
            imgName: "slider-5"
        },
        {
            title: "Москальцова Марина Викторовна",
            status: "инженер-химик",
            imgName: "slider-6"
        },
    ]