-
    const aboutAdvantages = [
        {
            title: "2000",
            description: "год&nbsp;основания<br>компании",
        },
        {
            title: "100+",
            description: "видов анализов и испытаний",
        },
        {
            title: "10",
            description: "клиенты более чем из 10 городов Казахстана ",
        },
    ];
    const aboutStaff = [
        {
            description: "Сертифицированные специалисты «НИЦ&nbsp;Уголь»",
            title: "Калитина Татьяна Владимировна",
            status: "химик",
            imgName: "about_slider-1"
        },
        {
            description: "Сертифицированные специалисты «НИЦ&nbsp;Уголь»",
            title: "Калитина Татьяна Владимировна",
            status: "химик",
            imgName: "about_slider-1"
        },
        {
            description: "Сертифицированные специалисты «НИЦ&nbsp;Уголь»",
            title: "Калитина Татьяна Владимировна",
            status: "химик",
            imgName: "about_slider-1"
        },
    ]