-
    const contactsAdvantages = [
        {
            title: "Достоверность результатов",
            description: "Текст, который кратко раскрывает имменно это преимущество компании, преполагаемо в три строки.",
            imgName: "slider-1"
        },
        {
            title: "Достоверность результатов",
            description: "Текст, который кратко раскрывает имменно это преимущество компании, преполагаемо в три строки.",
            imgName: "slider-2"
        },
        {
            title: "Достоверность результатов",
            description: "Текст, который кратко раскрывает имменно это преимущество компании, преполагаемо в три строки.",
            imgName: "slider-1"
        },
    ];