-
    const contactsAdvantages = [
        {
            title: "Достоверность результатов",
            description: "Текст, который кратко раскрывает имменно это преимущество компании, преполагаемо в три строки.",
            imgName: "contacts_slider-1"
        },
        {
            title: "Достоверность результатов",
            description: "Текст, который кратко раскрывает имменно это преимущество компании, преполагаемо в три строки.",
            imgName: "contacts_slider-1"
        },
        {
            title: "Достоверность результатов",
            description: "Текст, который кратко раскрывает имменно это преимущество компании, преполагаемо в три строки.",
            imgName: "contacts_slider-1"
        },
    ];

    const contactsList = [
        {
            title: "АО «Шубарколь Комир»",
            description: "Проведение испытаний продукции: уголь каменный и антрацит, уголь рядовой, необогащенный, обогащенный.",
            imgName: "contacts_logo-1"
        },
        {
            title: "АО «АрселорМиттал Темиртау»",
            description: "Проведение испытаний продукции: уголь каменный и антрацит, уголь рядовой, необогащенный, обогащенный.",
            imgName: "contacts_logo-2"
        },
        {
            title: "АО «Шубарколь Комир»",
            description: "Проведение испытаний продукции: уголь каменный и антрацит, уголь рядовой, необогащенный, обогащенный.",
            imgName: "contacts_logo-1"
        },
        {
            title: "АО «АрселорМиттал Темиртау»",
            description: "Проведение испытаний продукции: уголь каменный и антрацит, уголь рядовой, необогащенный, обогащенный.",
            imgName: "contacts_logo-2"
        },
        {
            title: "АО «Шубарколь Комир»",
            description: "Проведение испытаний продукции: уголь каменный и антрацит, уголь рядовой, необогащенный, обогащенный.",
            imgName: "contacts_logo-1"
        },
        {
            title: "АО «АрселорМиттал Темиртау»",
            description: "Проведение испытаний продукции: уголь каменный и антрацит, уголь рядовой, необогащенный, обогащенный.",
            imgName: "contacts_logo-2"
        },
    ];