mixin modal-call({ className = false })
    include ../../components/modal/modal
    include ../../components/input/input
    include ../../components/checkbox/checkbox

    +modal({
        modalName: 'modal-call',
        className: 'modal_center modal_lg',
        title: 'Заказать звонок',
        description: 'Заполните и отправьте свои контакты, мы перезвоним в ближайшее время'
    })      
        form.modal-request__form(data-subject="Перезвонить")
            +input({
                iconName: 'user',
                viewBoxName: '0 0 16 16',
                className: 'modal-request__input input_md input_gamma',
                placeholder: 'Ваше имя'
            })
            +input({
                iconName: 'phone',
                typeName: 'tel',
                viewBoxName: '0 0 16 16',
                className: 'modal-request__input input_md input_gamma',
                placeholder: 'Ваш телефон'
            })
            fieldset.modal-request__form-footer
                +checkbox({
                    className: 'modal-request__checkbox checkbox_alpha',
                })
                +btn({ 
                    icon: {
                        position: 'left',
                        iconName: 'phone-2',
                        viewBoxName: '0 0 31 27'
                    },
                    className: 'modal-request__btn btn_size_lg btn_theme_alpha', 
                    title: 'Перезвонить',
                })