-
    const navLinks = [
        {
            href: "home",
            iconName: "home",
            viewBoxName: '0 0 17 15'
        },
        {
            href: "services",
            title: "Услуги"
        },
        {
            href: "about",
            title: "О компании"
        },
        {
            href: "steps",
            title: "Как мы работаем"
        },
        {
            href: "clients",
            title: "Преимущества"
        },
        {
            href: "faq",
            title: "Вопросы-ответы"
        },
        {
            href: "request",
            title: "Оставить заявку"
        },
        {
            href: "contacts",
            title: "Контакты"
        },
    ]