.nav {
    @media (max-width: $break_lg) {
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        min-width: 295px;
        max-width: 295px;
        height: 100%;
        padding: 16px 32px;
        transform: translateX(100%);
        overflow-y: auto;
        background: {
            position: calc(-100% - 205px) calc(100% + 93px);
            color: $alpha;
            image: url(../img/consultation_backgroung.svg);
            repeat: no-repeat;
            size: 495px 394px;
        }
        transition: {
            property: transform;
            duration: 0.5s;
        }

        &_active {
            transform: translateX(0);
        }
    }

    &__header {
        display: none;
        @media (max-width: $break_lg) {
            display: block;
            margin-bottom: 25px;
        }
    }

    &__info {
        display: flex;
    }

    &__phones {
        margin-bottom: 13px;
    }

    &__phone {
        display: block;
        margin-bottom: 4px;

        &:first-child {
            margin-bottom: 10px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__logo-wrapper {
        margin-bottom: 20px;
    }

    &__logo {
        width: 42px;
    }

    &__description {
        margin-top: 10px;
        max-width: 181px;
        font-weight: 600;
        font-size: rem(9);
    }

    &__socials {
        display: flex;
        margin-right: 20px;
    }

    &__socials-item {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__inner {
        background-color: rgba($light, 0.1);
        border: 1px solid rgba($light, 0.1);
        backdrop-filter: blur(10px);
        border-radius: 50px;
        @media (max-width: $break_lg) {
            border: 0;
            padding: 0;
            background-color: transparent;
            backdrop-filter: none;
        }

        padding: {
            right: 32px;
            left: 32px;
        }
    }

    &__list {
        display: flex;
        margin-left: -20px;
        margin-right: -20px;
        @media (max-width: $break_xl) {
            margin-right: -12px;
            margin-left: -12px;
        }
        @media (max-width: $break_lg) {
            display: block;
        }
    }

    &__item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        margin-left: 20px;
        @media (max-width: $break_xl) {
            margin-right: 12px;
            margin-left: 12px;
        }
        @media (max-width: $break_lg) {
            display: block;
        }
    }

    &__link {
        display: block;
        @media (max-width: $break_xl) {
            font-size: rem(14);
            white-space: nowrap;
        }
        @media (max-width: $break_lg) {
            padding: 12px 0;
            font-size: rem(16);
            font-weight: 700;

            &:hover {
                color: $light;
            }
        }

        &:hover {
            color: $alpha;
        }
        padding: {
            top: 15px;
            bottom: 15px;
        }
        transition: {
            duration: 0.3s;
            property: color;
        }
    }

    &__link_icon {
        @media (max-width: $break_lg) {
            display: none;
        }
    }

    &__icon {
        width: 17px;
    }
}
