-
    const modalSlider = [
        {
            title: "Достоверность результатов",
            description: "Текст, который кратко раскрывает имменно это преимущество компании, преполагаемо в три строки.",
            imgName: "contacts_slider-1"
        },
        {
            title: "Достоверность результатов",
            description: "Текст, который кратко раскрывает имменно это преимущество компании, преполагаемо в три строки.",
            imgName: "contacts_slider-1"
        },
        {
            title: "Достоверность результатов",
            description: "Текст, который кратко раскрывает имменно это преимущество компании, преполагаемо в три строки.",
            imgName: "contacts_slider-1"
        },
    ];