mixin modal-services({ className = false })
    include ../../components/modal-template/modal-template
    include ../services/data
    
    each modal in servicesList
        +modal-template({
            modalName: `modal-${modal.iconName}`,
            title: modal.title,
            description: modal.description,
            slides: modal.slides,
            iconName: modal.iconName,
            advantage: modal.advantage
        })
            if (modal.iconName === "services_labaratory")
                p.p-bold Испытательная лаборатория (ИЛ) является структурным подразделением ТОО «Научно-исследовательский центр «Уголь» (ТОО «НИЦ «Уголь»), обеспечивающий до 95% всего объема работ организации. ИЛ выполняет все виды лабораторных и технологических исследований, и осуществляет отбор проб.
                p.p-sm Испытательная лаборатория аккредитована на соответствие требованиям ГОСТ ISO/IEC 17025-2019 «Общие требования к компетентности испытательных и калибровочных лабораторий». Аттестат аккредитации КZ.T.10.0560 19.12.2019 года, действителен до 19.12.2024 года.
                p.p-sm ИЛ ТОО «НИЦ «Уголь» аккредитована на техническую компетентность и независимость, имеет самую широкую Область аккредитации в Республике Казахстан перечень компонентов и характеристик угля и продуктов их переработки.
                p.p-sm
                    b Лабораторная деятельность ИЛ обеспечивает беспристрастность,
                    | руководствуясь Политикой по обеспечению беспристрастности, а также предусматривается соблюдение конфиденциальности информации Инструкцией «Права собственности и конфиденциальности» и процедурой, позволяющей обеспечить конфиденциальность информации защитой электронного хранения и передачей результатов
                p.p-sm
                    b Техническая компетентность подтверждается
                    | международными межлабораторными сличительными испытаниями, результаты которых подтверждены протоколами и сертификатами.
                p.p-sm ИЛ осуществляет свою деятельность и подтверждает свои обязательства по развитию и внедрению системы менеджмента, по заявкам Заявителей в соответствии с правилами и процедурами Государственной системы технического регулирования Республики Казахстан и требованиями СТ РК ISO 9001, ГОСТ ISO/IEC 17025-2019.
                p.p-sm
                    b Испытательная лаборатория проводит следующие виды испытаний:
                ul.p-sm
                    li • отбор проб углей и продуктов их переработки;
                    li • идентификацию продукции;
                    li • подготовку проб к испытаниям;
                    li • испытания углей и продуктов их переработки.
                p.p-sm
                    b Основные виды деятельности ИЛ включают проведение работ по испытаниям продукции:
                ul.p-sm
                    li • Уголь каменный  и антрацит. Уголь рядовой, необогащенный рассортированный, обогащенный (концентрат, промпродукт), отсев, порода, шлам. Сланцы горючие;
                    li • Уголь бурый или  лигнит.  Уголь рядовой, необогащенный рассортированный, обогащенный (концентрат, пром-продукт), отсев, порода, шлам;
                    li • Топливо агломерированное (брикеты, окатыши или аналогичные виды топлива, полученные из угля);
                    li • Кокс, полукокс из углей каменных, бурых или лигнитов;
                    li • Кокс нефтяной;
                    li • Смолы каменноугольные и буроугольные;
                    li • Смола  из угля каменного, бурого или лигнита. Топливо котельное из смолы каменноугольной. Топливо котельное из смолы угольной среднетемпературной;
                    li • Масло и другие продукты высокотемпературной перегонки каменноугольной смолы;
                    li • Уголь активированный (сорбенты – адсорбенты, абсорбенты);
                    li • Биотопливо. Биотопливо твердое из биомассы животного происхождения (брикеты, пеллеты (гранулы)). Биотопливо твердое из травяной биомассы (брикеты, пеллеты (гранулы);
                    li • Гуминовые препараты;
                    li • Золы-уноса.
            if (modal.iconName === "services_checklist")
                p.p-bold Орган по подтверждению соответствия является структурным подразделением  юридического лица ТОО «НИЦ «Уголь». <br>Орган по подтверждению соответствия ТОО «НИЦ «Уголь» аккредитован в национальной системе аккредитации (аттестат аккредитации № KZ.О.10.0562 от 08.12.2014 г.). Имеет собственную аккредитованную испытательную лабораторию (аттестат аккредитации № KZ.Т.10.0560 от 28.10.2014 г.).
                p.p-sm Область аккредитации Органа по подтверждению соответствия ТОО «НИЦ «Уголь» распространяется на:
                ul.p-sm 
                    li • угли рядовые всех марок;
                    li • продукты переработки углей:
                    li • угли необогащенные, обогащенные (концентрат), промпродукт, шлам, отсев всех марок;
                    li • агломерированное топливо (брикеты);
                    li • кокс и полукокс;
                    li • смолы каменноугольные и буроугольные, топливо котельное;
                    li • масло и другие продукты высокотемпературной перегонки каменноугольной смолы;
                    li • активированные угли.
                p.p-sm Каждый сотрудник Органа по подтверждению соответствия гарантирует беспристрастное, качественное выполнение работ по подтверждению соответствия и обеспечение конфиденциальности информации Заявителя.
                p.p-sm Область аккредитации ОПС ТОО «НИЦ «Уголь» включает: уголь каменный и антрацит, уголь бурый и лигнит: рядовой, необогащенный, обогащенный (концентрат), промпродукт, порода, шлам, отсев; горючие сланцы; агломерированное топливо (брикеты и прочие); уголь активированный (адсорбенты); кокс, полукокс, смолы, масла и другие продукты переработки угля.
                p.p-sm Подтверждение соответствия (сертификация) указанной продукции проводится на соответствие требованиям национальных, межгосударственных, международных стандартов и других нормативных документов. Исследование продукции в собственной независимой аккредитованной угольной лаборатории проводится по следующим показателям:
                ul.p-sm 
                    li • отбор проб продукции;
                    li • показатели безопасности: зольность, массовая доля общей серы, массовая доля хлора, массовая доля мышьяка, окисленность;
                    li • температура воспламенения, температура самовоспламенения углей и продуктов их переработки;
                    li • группа взрывоопасности топлива;
                    li • удельная активность природных радионуклидов выполняются в субподрядном аккредитованном испытательном центре ТОО «ЭкоЭксперт»;
                    li • показатели идентификации, классификации, кодификации: технологическая марка (группа, подгруппа), ранг (категория, подкатегория), гранулометрический состав, кодовое число.
                p.p-sm ОПС и ИЛ ТОО «НИЦ «Уголь» выполняет и другие анализы углей и продуктов их переработки (всего около 100 анализов).
            if (modal.iconName === "services_certificate")
                p.p-bold Занимается разработкой нормативных документов (Национальные (государственные) стандарты Республики Казахстан - СТ РК, Межгосударственные стандарты – ГОСТ, Технические регламенты, Паспорта безопасности) 
                p.p-sm На базе организации (ТОО «НИЦ «Уголь» создан Технический комитет по стандартизации №6 «Уголь и продукты его переработки» (ТК 6), в состав которого входят ведущие угледобывающие и перерабатывающие предприятия, проектные институты, государственные органы. 
                p.p-sm Проведение научно-исследовательских работ осуществляется по угледобывающей и перерабатывающей отраслям промышленности (добыча углей, рассортировка, обогащение, брикетирование, коксование, полукоксование и др.) на базе изучения научных, технических, технологических, нормативных документов и проведения необходимых лабораторных и промышленных испытаний.
            if (modal.iconName === "services_microscope")
                p.p-bold Научная деятельность: сюда входят научные отчеты, делаем анализ на основании проведеных испытаний. Также выдаем заключения по запросу клиента.
                p.p-sm 
                    b Отдел Науки ТОО «Научно-исследовательский центр «Уголь» г. Караганда.
                p.p-sm Отдел науки тесно работает с Испытательной лабораторией и проводит исследования углей и продуктов переработки с целью определения направлений использования, изучения свойств углей новых месторождений, возможности его коксования, брикетирования и тд, разработки Стандартов Организаций для дальнейшей сертификации продуктов.
                p.p-sm Конечным результатом исследовательских работ является Отчет по Научно-Исследовательской работе.
