mixin index({ className = false })
    include ../../modules/intro/intro
    include ../../modules/services/services
    include ../../modules/consultation/consultation
    include ../../modules/about/about
    include ../../modules/certificates/certificates
    include ../../modules/steps/steps
    include ../../modules/clients/clients
    include ../../modules/faq/faq
    
    +intro({})
    +services({})
    +consultation({})
    +about({})
    +certificates({})
    +steps({})
    +clients({})
    +faq({})
