mixin index({ className = false })
    include ../../modules/intro/intro
    include ../../modules/services/services
    include ../../modules/consultation/consultation
    include ../../modules/government/government
    include ../../modules/about/about
    include ../../modules/certificates/certificates
    include ../../modules/steps/steps
    include ../../modules/clients/clients
    include ../../modules/faq/faq
    include ../../modules/request/request
    include ../../modules/contacts/contacts
    include ../../modules/modal-request/modal-request
    include ../../modules/modal-call/modal-call
    include ../../modules/modal-policy/modal-policy
    include ../../modules/modal-about/modal-about
    include ../../modules/modal-services/modal-services
    
    +intro({})
    +services({})
    +consultation({})
    +government({})
    +about({})
    +certificates({})
    +steps({})
    +clients({})
    +faq({})
    +request({})
    +contacts({})
    +modal-request({})
    +modal-call({})
    +modal-policy({})
    +modal-about({})
    +modal-services({})
