.certificates {
    animation: ticker 45s linear infinite;
    @media (max-width: $break_md) {
        padding: {
            bottom: 166px;
        }
    }
    @media (max-width: $break_sm) {
        padding: {
            top: 40px;
            bottom: 93px;
        }
        background: {
            size: auto 32px;
            position-y: calc(100% - 35px);
        }
    }

    &__container {
        @include container();
    }

    &__row {
        @include row-flex();
    }

    &__gallery-col {
        @include col();
        @include size(6);
        @include size-xl(5);
        @include size-lg(6);
        @include size-md(12);
        @media (max-width: $break_md) {
            margin-bottom: 22px;
        }
    }

    &__gallery {
    }

    &__gallery-list {
        margin-bottom: 22px;
    }

    &__slide {
    }

    &__slide-inner {
    }

    &__slide-img {
        max-width: 100%;
        margin-bottom: 20px;
        filter: saturate(0);
        @media (max-width: $break_xss) {
            margin-bottom: 8px;
        }

        &:hover {
            filter: saturate(1);
        }
        transition: {
            property: filter;
            duration: 0.5s;
        }
    }

    &__slide-title {
        font-size: rem(13);
        font-weight: 600;
        line-height: 154%;
        @media (max-width: $break_xss) {
            font-size: rem(11);
            line-height: normal;
            margin-bottom: 4px;
        }
    }

    &__slide-description {
        font-size: rem(13);
        line-height: 154%;
        @media (max-width: $break_xss) {
            font-size: rem(11);
            line-height: normal;
        }
    }

    &__info-col {
        @include col();
        @include size(6);
        @include size-xl(7);
        @include size-lg(6);
        @include size-md(12);
    }

    &__title {
        @include h4();
        margin-bottom: 24px;
        line-height: 150%;
        @media (max-width: $break_sm) {
            margin-bottom: 13px;
        }
    }

    &__list {
        line-height: 150%;

        @media (max-width: $break_sm) {
            font-size: rem(13);
        }
    }
    padding: {
        top: 80px;
        bottom: 80px;
    }
    background: {
        image: url(../img/certificates/text.svg);
        repeat: repeat-x;
        position-x: 0;
        position-y: calc(100% - 50px);
    }
}

@keyframes ticker {
    100% {
        background-position-x: 2538px;
    }
}

@media (max-width: $break_sm) {
    @keyframes ticker {
        100% {
            background-position-x: 1002px;
        }
    }
}
