.certificates {
    @media (max-width: $break_md) {
        padding: {
            bottom: 166px;
        }
    }
    @media (max-width: $break_sm) {
        padding: {
            top: 40px;
            bottom: 93px;
        }
        background: {
            size: auto 32px;
            position-y: calc(100% - 35px);
        }
    }
    padding: {
        top: 80px;
        bottom: 80px;
    }
    background: {
        image: url(../img/certificates_text.svg);
        repeat: repeat-x;
        position-x: 0;
        position-y: calc(100% - 50px);
    }
    animation: ticker 15s linear infinite;

    &__container {
        @include container();
    }

    &__row {
        @include row-flex();
    }

    &__gallery-col {
        @media (max-width: $break_md) {
            margin-bottom: 22px;
        }
        @include col();
        @include size(6);
        @include size-xl(5);
        @include size-lg(6);
        @include size-md(12);
    }

    &__gallery {
    }

    &__gallery-list {
        margin-bottom: 22px;
    }

    &__slide {
    }

    &__slide-inner {
    }

    &__slide-img {
        @media (max-width: $break_xss) {
            margin-bottom: 8px;
        }
        max-width: 100%;
        margin-bottom: 20px;
    }

    &__slide-title {
        @media (max-width: $break_xss) {
            font-size: rem(11);
            line-height: normal;
            margin-bottom: 4px;
        }
        font-size: rem(13);
        font-weight: 600;
        line-height: 154%;
    }

    &__slide-description {
        @media (max-width: $break_xss) {
            font-size: rem(11);
            line-height: normal;
        }
        font-size: rem(13);
        line-height: 154%;
    }

    &__info-col {
        @include col();
        @include size(6);
        @include size-xl(7);
        @include size-lg(6);
        @include size-md(12);
    }

    &__title {
        @media (max-width: $break_sm) {
            margin-bottom: 13px;
        }
        @include h4();
        margin-bottom: 24px;
    }

    &__list {
        @media (max-width: $break_sm) {
            font-size: rem(13);
        }
    }
}

@keyframes ticker {
    100% {
        background-position-x: 2538px;
    }
}

@media (max-width: $break_sm) {
    @keyframes ticker {
        100% {
            background-position-x: 1002px;
        }
    }
}
