-
    const certificatesStaff = [
        {
            title: "Аттестат аккредитации",
            description: "КZ.И.10.0560 19.12.2019 - 19.12.2024 ",
            imgName: "slide-1"
        },
        {
            title: "Аттестат аккредитации",
            description: "ОПС № KZ.О.10.0562от 14.02.2020 г.",
            imgName: "slide-2"
        },
        {
            title: "Сертификат соответсвия",
            description: "№ KZ.7100943.07.03.04261",
            imgName: "slide-3"
        },
        {
            title: "Аттестат аккредитации",
            description: "КZ.И.10.0560 19.12.2019 - 19.12.2024 ",
            imgName: "slide-1"
        },
        {
            title: "Аттестат аккредитации",
            description: "ОПС № KZ.О.10.0562от 14.02.2020 г.",
            imgName: "slide-2"
        },
        {
            title: "Сертификат соответсвия",
            description: "№ KZ.7100943.07.03.04261",
            imgName: "slide-3"
        },
    ]