.card {
    box-sizing: border-box;
    display: flex;
    padding: 30px;
    border: 1px solid rgba($dark, 0.05);
    background-color: rgba($light, 0.25);
    backdrop-filter: blur(5px);
    @media (max-width: $break_xl) {
        flex-direction: column;
    }
    @media (max-width: $break_md) {
        flex-direction: row;
        padding: 20px;
    }
    @media (max-width: $break_sm) {
        flex-direction: column;
        align-items: center;
        padding: 30px;
        text-align: center;
    }

    &__info {
        margin-left: 30px;
        @media (max-width: $break_xl) {
            margin-top: 30px;
            margin-left: 0;
        }
        @media (max-width: $break_md) {
            margin-top: 0;
            margin-left: 20px;
        }
        @media (max-width: $break_sm) {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
            margin-left: 0;
        }
    }

    &__title {
        @include h4();
        margin-bottom: 10px;
        font-weight: 600;
        line-height: 136%;
    }

    &__description {
        max-width: 235px;
        margin-bottom: 22px;
        line-height: 137%;
        @media (max-width: $break_sm) {
            margin-bottom: 15px;
            font-size: rem(13);
        }
    }

    &__advantage {
        margin-bottom: 23px;
        color: $alpha;
        font-size: rem(13);
        font-weight: 600;
        line-height: 123%;
        @media (max-width: $break_sm) {
            max-width: 288px;
            font-size: rem(13);
        }
    }

    &__footer {
        display: flex;
        align-items: center;
    }

    &__btn {
        margin-right: 17px;
        font-size: rem(13);
    }

    &__link {
        font-size: rem(13);
    }

    &:hover &__img {
        color: $light;
        background-color: $alpha;
    }
}
