.clients {
    color: $light;
    @media (max-width: $break_md) {
        padding: {
            top: 40px;
            bottom: 45px;
        }
    }

    &__container {
        @include container();
    }

    &__header {
        @include row-flex();
        margin-bottom: 64px;
    }

    &__title {
        @include col();
        @include size(6);
        @include size-lg(12);
        @include h2();
        line-height: 110%;
        color: $alpha;
        @media (max-width: $break_lg) {
            margin-bottom: 32px;
        }
        @media (max-width: $break_sm) {
            margin-bottom: 23px;
        }
    }

    &__gallery-advantages {
        @include col();
        @include size(6);
        @include size-lg(12);

        .gallery {
            &__list {
                @media (max-width: $break_sm) {
                    margin-bottom: 14px;
                }
            }
            &__footer {
                margin-top: -27px;
                margin-left: 200px;
                @media (max-width: $break_md) {
                    margin-left: 180px;
                }
                @media (max-width: $break_sm) {
                    margin-left: 0;
                    margin-top: 0;
                }
            }
        }

        .clients__slide-inner {
            display: flex;
            align-items: flex-start;
            @media (max-width: $break_sm) {
                flex-direction: column;
            }

            &:hover .clients__slide-img {
                filter: saturate(1);
            }
        }

        .clients__slide-img {
            border-radius: 50%;
            filter: saturate(0);
            transition: {
                property: filter;
                duration: 0.5s;
            }

            @media (max-width: $break_md) {
                max-width: 150px;
            }
        }

        .clients__slide-info {
            padding-bottom: 32px;
            margin-left: 30px;
            @media (max-width: $break_sm) {
                padding-bottom: 0;
                margin-top: 20px;
                margin-left: 0;
            }
        }

        .clients__slide-title {
            @include h4();
            margin-bottom: 6px;
            font-weight: 600;
        }

        .clients__slide-description {
            line-height: 162%;
        }
    }

    &__gallery {
        .clients__gallery-row {
        }

        .clients__gallery-info {
        }

        .clients__gallery-title {
            @include h2();
            margin-bottom: 10px;
            color: $alpha;
        }

        .clients__gallery-description {
            @include h4();
            line-height: 143%;
            font-weight: 600;
        }

        .tns-outer {
            @include col();
            @include size(8);
            @include size-xl(6);
            @include size-md(12);
            padding-top: 11px !important;
            @media (max-width: $break_md) {
                padding-top: 0 !important;
            }
        }

        .gallery {
            &__list {
            }

            &__slide {
            }
        }

        .clients__slide-inner {
        }

        .clients__slide-img {
            height: 50px;
            margin-bottom: 26px;
        }

        .clients__slide-title {
            margin-bottom: 8px;
            font-weight: 600;
        }

        .clients__slide-description {
            @include p-sm();
            line-height: 154%;
        }
    }

    &__gallery-row {
        @include row-flex();
        margin-bottom: 8px;
        @media (max-width: $break_md) {
            margin-bottom: 14px;
        }
    }

    &__gallery-info {
        @include col();
        @include size(4);
        @include size-xl(6);
        @include size-md(10);
        @media (max-width: $break_md) {
            margin-bottom: 32px;
        }
    }
    padding: {
        top: 82px;
        bottom: 86px;
    }
    background: {
        color: $dark;
        image: url(../img/clients/background.jpg);
        size: cover;
        position: top center;
        attachment: fixed;
    }
    .ios & {
        background-size: auto 100%;
        background-attachment: local;
    }
}
