-
    const clientsAdvantages = [
        {
            title: "Достоверность результатов",
            description: "Лаборатория постоянно проходит квалификационные проверки с провайдерами, МЛСИ,  внутрилабораторный контроль",
            imgName: "slider-1"
        },
        {
            title: "Широкий спектр оказываемых услуг для угольных предприятий",
            description: "Отбор проб со штабеля, отбор проб с вагонов, технический, элементный анализ угля, гранулометрический состав, ситово-фракционный анализ, химический состав золы, анализ кокса, спецкокса, масла каменноугольного, смолы, топливо агломерированное, активированный уголь и др.",
            imgName: "slider-2"
        },
        {
            title: "Беспристрастность",
            description: "Обеспечение беспристрастности и независимость деятельности по подтверждению соответствия, а также результатов испытаний, которые основываются исключительно на объективных доказательствах",
            imgName: "slider-3"
        },
        {
            title: "Качественное выполнение работ в соответствии со всеми стандартами",
            description: "Соблюдение надлежащей профессиональной практики и сохранение высокого качества проводимых работ с получением объективных, точных и воспроизводимых результатов при обслуживании заказчиков услуг организации.",
            imgName: "slider-4"
        },
        {
            title: "Квалифицированный персонал",
            description: "Штат укомплектован компетентными специалистами и техническим персоналом, имеющими соответствующее образование, навыки и опыт работы со специальным оборудованием, а также квалификацию, необходимые для проведения работы, оценки результатов в заявленной области аккредитации.",
            imgName: "slider-5"
        },
    ];

    const clientsList = [
        {
            title: "АО «Шубарколь Комир»",
            description: "Разработка национальных (государственных) стандартов РК, паспортов безопасности ",
            imgName: "logo-1"
        },
        {
            title: "АО «АрселорМиттал Темиртау»",
            description: "Научно-исследовательские работы по исследованию обогатимости и коксуемости углей пластов шахт УД АО «АрселорМиттал Темиртау»",
            imgName: "logo-2"
        },
        {
            title: "ТОО «Майкубен-Вест»",
            description: "Подтверждение соответствия угольной продукции",
            imgName: "logo-3"
        },
        {
            title: "АО «Каражыра»",
            description: "Разработка нормативных документов согласно РК",
            imgName: "logo-4"
        },
        {
            title: "АО «Евразийская энергетическая корпорация»",
            description: "Лабораторные анализы качества угля",
            imgName: "logo-5"
        },
    ];