-
    const sliderInfo = [
        {
            imgName: "intro_slider-1",
            description: "Проводим отбор проб, испытания каменного угля и антрацита",
        },
        {
            imgName: "intro_slider-1",
            description: "Проводим отбор проб, испытания каменного угля и антрацита",
        },
        {
            imgName: "intro_slider-1",
            description: "Проводим отбор проб, испытания каменного угля и антрацита",
        },
    ];
    
    const advantagesInfo = [
        {
            title: "21",
            description: "год на рынке",
        },
        {
            title: "400",
            description: "разработанных нормативных документов",
        },
        {
            title: "25",
            description: "специалистов в штате",
        },
    ];