-
    const sliderInfo = [
        {
            imgName: "slider-1",
            description: "Отбор проб угля, кокса и другие продукты со штабеля, с вагонов по нормативным документам РК",
        },
        {
            imgName: "slider-2",
            description: "Смолы каменноугольные и буроугольные: отбор, подготовка проб, зольность ",
        },
        {
            imgName: "slider-3",
            description: "Уголь активированный (сорбенты – адсорбенты, абсорбенты): гранулометрический состав, суммарный объем пор по воде и др.",
        },
        {
            imgName: "slider-4",
            description: "Биотопливо: зольность, содержание влаги, механическая прочность, выход летучих веществ т.д. ",
        },
        {
            imgName: "slider-5",
            description: "Гуминовые препараты (гумат калия и гумат натрия): зольность, влажность, выход свободных гуминовых кислот и т.д.",
        },
        {
            imgName: "slider-6",
            description: "Золы-уноса (микросфера): химсостав, влага, зольность и т.д",
        },
    ];
    
    const advantagesInfo = [
        {
            title: "21",
            description: "год на рынке",
        },
        {
            title: "400",
            description: "разработанных нормативных документов",
        },
        {
            title: "25",
            description: "специалистов в штате",
        },
    ];