.intro {
    @media (max-width: $break_lg) {
        padding: {
            top: 120px;
            bottom: 120px;
        }
    }
    @media (max-width: $break_sm) {
        padding: {
            bottom: 111px;
        }
    }
    position: relative;
    padding: {
        top: 217px;
        bottom: 81px;
    }
    min-height: 100vh;
    color: $light;
    background: {
        color: $dark;
        image: url(../img/intro_background.jpg);
        size: cover;
        position: top center;
        attachment: fixed;
    }

    &__container {
        @include container();
    }

    &__row {
        @include row-flex();
        justify-content: space-between;
    }

    &__info-col {
        @include col();
        @include size(7);
        @include size-md(12);
    }

    &__img-col {
        @media (max-width: $break_md) {
            margin-top: 55px;
        }
        @include col();
        @include size(4);
        @include size-lg(5);
        @include size-md(12);
        margin-top: 33px;
    }

    &__title {
        @include h1();
        margin-bottom: 17px;
        color: $alpha;
    }

    &__description {
        @media (max-width: $break_lg) {
            margin-bottom: 20px;
        }
        @include h4();
        margin-bottom: 47px;
        font-weight: 600;
        line-height: 145%;
    }

    &__advantages {
        @media (max-width: $break_lg) {
            flex-wrap: wrap;
            gap: 10px;
        }
        display: flex;
        gap: 21px;
        margin-bottom: 32px;
    }

    &__advantage {
        @media (max-width: $break_lg) {
            flex-basis: 100%;
        }
        @media (max-width: $break_md) {
            max-width: 60%;
            flex-basis: auto;
            flex-grow: 1;
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
        gap: 21px;
    }

    &__btn {
    }

    &__link {
    }

    &__gallery {
        @media (max-width: $break_md) {
            max-width: 310px;
        }
        @media (max-width: $break_sm) {
            max-width: 200px;
        }
        max-width: 240px;
        margin-left: auto;
        margin-right: auto;
    }

    &__gallery-list {
        margin-bottom: 42px;
    }

    &__gallery-footer {
        @media (max-width: $break_sm) {
            right: 0;
        }
        position: relative;
        right: -18px;
    }

    &__mouse {
        @media (max-width: $break_lg) {
            bottom: 40px;
        }
        @media (max-width: $break_md) {
            bottom: 31px;
        }
        position: absolute;
        bottom: 60px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
    }

    &__mouse-icon {
        @media (max-width: $break_md) {
            width: 16px;
        }
        width: 20px;
    }
}
