h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

body {
    font: {
        family: $font-family;
    }
    color: $dark;
    background-color: $gamma;
}

.container {
    @include container();
    // @include sm(max-width, rem(510));
    // @include md(max-width, rem(690));
    // @include lg(max-width, rem(930));
    // @include xl(max-width, rem(1110));
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &_not-home {
        background: {
            color: $dark;
            image: url(../img/intro/background.jpg);
            size: cover;
            position: top center;
            attachment: fixed;
        }
    }
}
.main {
    flex-grow: 1;
}

.overflow-hidden {
    height: 100%;
    overflow: hidden;
    padding-right: 18px;
}

::selection {
    color: $light;
    background-color: $alpha;
}

@mixin h1() {
    @media (max-width: $break_lg) {
        font-size: rem(40);
    }
    @media (max-width: $break_md) {
        font-size: rem(32);
    }
    @media (max-width: $break_sm) {
        font-size: rem(30);
    }
    font-size: rem(46);
    font-weight: 700;
    line-height: 109%;
}
@mixin h2() {
    @media (max-width: $break_lg) {
        font-size: rem(32);
    }
    @media (max-width: $break_md) {
        font-size: rem(28);
    }
    @media (max-width: $break_sm) {
        font-size: rem(24);
    }
    font-size: rem(42);
    font-weight: 700;
    line-height: 121%;
}
@mixin h3() {
    @media (max-width: $break_lg) {
        font-size: rem(22);
    }
    @media (max-width: $break_md) {
        font-size: rem(18);
    }
    @media (max-width: $break_sm) {
        font-size: rem(16);
    }
    font-size: rem(24);
    line-height: 133%;
}
@mixin h4() {
    @media (max-width: $break_lg) {
        font-size: rem(20);
    }
    @media (max-width: $break_md) {
        font-size: rem(16);
    }
    font-size: rem(22);
    line-height: 127%;
}
@mixin p() {
    @media (max-width: $break_lg) {
        font-size: rem(20);
    }
    @media (max-width: $break_md) {
        font-size: rem(16);
    }
    font-size: rem(22);
    line-height: 160%;
}
@mixin p-sm() {
    @media (max-width: $break_sm) {
        font-size: rem(11);
    }
    font-size: rem(13);
    line-height: 154%;
}
@mixin p-bold() {
    @media (max-width: $break_sm) {
        font-size: rem(13);
    }
    font-weight: 600;
    line-height: 162%;
}

.p-bold {
    @include p-bold();
}

.p-sm {
    @include p-sm();
}

.custom-scroll {
    max-height: 333px;
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 20px;
    }

    &::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
    }

    &::-webkit-scrollbar-thumb {
        background-color: $alpha;
        height: 50px;
        border-radius: 50px;
    }
}

.custom-scroll {
    position: relative;

    .fakeScroll {
        &__wrap,
        &__content {
            max-height: inherit;
        }

        &__track {
            padding-top: 26px;
            padding-bottom: 26px;
            width: 4px;
            background: rgba($light, 0.1);
            border: 1px solid rgba($light, 0.1);
            backdrop-filter: blur(10px);
        }

        &__bar {
            height: 20px !important;
            width: 20px;
            background-color: $alpha;
            border-radius: 50%;
            right: 9px;
            transform: translateY(-50%);
        }
    }
}

.link {
    position: relative;
    transition: {
        duration: 0.3s;
        property: color;
    }

    &:hover {
        color: $alpha;
    }

    &_alpha {
        color: $alpha;

        &:hover {
            color: $light;
        }
    }

    &_size {
        &_xl {
            @media (max-width: $break_xss) {
                font-size: rem(20);
            }
            font-size: rem(24);
        }
        &_large {
            font-size: rem(18);
            font-weight: 700;
        }
        &_medium {
            font-size: rem(13);
        }
        &_small {
            font-size: rem(11);
            font-weight: 700;
        }
    }
    &_underline {
        text-decoration: underline;
    }

    &_without-hover {
        &:hover {
            color: inherit;
        }
    }

    &_arrow {
        padding-right: 14px;
    }

    &_bold {
        font-weight: 700;
    }

    &_semibold {
        font-weight: 600;
    }

    &__arrow {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.content {
    p,
    ul {
        margin-bottom: 16px;
    }
    li {
        margin-bottom: 8px;
    }
    p,
    li,
    ul {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.dropdown {
    position: relative;
    display: flex;
    align-items: center;

    &__link {
        @media (max-width: $break_md) {
            font-size: rem(13);
        }
        display: block;
        line-height: 89%;
        white-space: nowrap;
    }

    &__icon {
        @media (max-width: $break_md) {
            width: 6px;
        }
        width: 8px;
    }

    &__arrow {
        @media (max-width: $break_md) {
            padding-left: 7px;
        }
        padding: {
            left: 10px;
            top: 6px;
            bottom: 6px;
        }
    }

    &__content {
        position: absolute;
        top: calc(100% + 4px);
        right: 0;
        z-index: 5;
        padding: 15px;
        background-color: rgba($light, 0.1);
        border: 1px solid rgba($light, 0.1);
        backdrop-filter: blur(10px);
        white-space: nowrap;
        transform: translateY(24px);
        opacity: 0;
        visibility: hidden;
        transition: {
            duration: 0.5s;
            property: opacity, visibility, transform;
        }

        .dropdown_active & {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
    }

    &__item {
        margin-bottom: 7px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__description {
        font-size: rem(9);
        margin-left: 9px;
    }
}

.gallery {
    position: relative;
    z-index: 1;

    &__rounds {
        @media (max-width: $break_sm) {
            top: 26%;
        }
        position: absolute;
        z-index: -1;
        top: 38%;
        left: 47%;
    }

    &__img {
        @media (max-width: $break_sm) {
            max-width: 142px;
        }
        margin-left: auto;
        margin-right: auto;
    }

    &__description {
        @media (max-width: $break_sm) {
            font-size: rem(11);
        }
        display: none;
        line-height: 150%;

        &.tns-nav-active {
            display: block;
        }
    }

    &__dot {
        position: absolute;
    }

    &__list {
        transition-property: transform !important;
        overflow: hidden;
    }

    &__pagination {
        display: flex;
        align-items: flex-end;
        margin-right: 46px;
    }

    &__pagination-item_active {
        margin-right: 12px;
        color: $alpha;
        font-weight: 700;
        font-size: rem(32);
        line-height: 85%;
        min-width: 43px;
    }

    &__pagination-item:last-child {
        margin-left: 12px;
    }

    &__control-panel {
        @media (max-width: $break_sm) {
            margin-bottom: 6px;
        }
        display: flex;
        align-items: center;
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__controls {
        display: flex;
        margin-left: -9px;
        margin-right: -9px;
    }

    &__control {
        display: block;
        margin-left: 9px;
        margin-right: 9px;
    }

    &__control-icon {
        width: 17px;
    }

    &__footer {
    }
}

.rounds {
    &__dot {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
        transform-origin: left top;

        &_1 {
            @media (max-width: $break_sm) {
                width: 121px;
                height: 121px;
            }
            width: 204px;
            height: 204px;
            animation: rotate 5s linear infinite;

            &:before {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &_2 {
            @media (max-width: $break_sm) {
                width: 187px;
                height: 187px;
            }
            width: 320px;
            height: 320px;
            animation: rotate 8s linear infinite;

            &:before {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
        &_3 {
            @media (max-width: $break_sm) {
                width: 187px;
                height: 187px;
            }
            width: 320px;
            height: 320px;
            animation: rotate 10s linear infinite;

            &:before {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    &:before,
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        backdrop-filter: blur(15px);
        border: 1px solid rgba($light, 0.1);
    }
    &:before {
        @media (max-width: $break_sm) {
            width: 121px;
            height: 121px;
        }
        z-index: 2;
        width: 204px;
        height: 204px;
        background-color: rgba($alpha, 0.55);
        pointer-events: none;
    }
    &:after {
        @media (max-width: $break_sm) {
            width: 187px;
            height: 187px;
        }
        position: absolute;
        width: 320px;
        height: 320px;
        background-color: rgba($alpha-light, 0.1);
        pointer-events: none;
    }

    &_transparent {
        &:before {
            background-color: rgba($alpha-light, 0.1);
        }
    }
}

.dot {
    &:before {
        content: "";
        display: block;
        width: 12px;
        height: 12px;
        background-color: $alpha;
        border-radius: 50%;
    }
    &_md::before {
        width: 8px;
        height: 8px;
    }
    &_sm::before {
        width: 6px;
        height: 6px;
    }
}

.checked-item {
    position: relative;
    padding-left: 17px;

    &__icon {
        position: absolute;
        top: 4px;
        left: 0;
        width: 11px;
        color: $alpha;
    }
}

.list {
    &__item {
        margin-bottom: 24px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.preloader {
    position: relative;
}
.preloader:after {
    content: " ";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 64px;
    height: 64px;
    margin: 8px;
    margin-left: -24px;
    margin-top: -24px;
    border-radius: 50%;
    border: 6px solid currentColor;
    border-color: currentColor transparent currentColor transparent;
    animation: preloader 1.2s linear infinite;
}
@keyframes preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.logo {
    &_dark {
        fill: $dark;
        color: $light;
    }

    &_light {
        fill: $light;
        color: $dark;
    }
}
